@font-face {
  font-family: "PlayfairDisplay";
  src: url(fonts/PlayfairDisplay-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Regular.woff2);
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  text-decoration: none;
  color: #000;

}

body {
  font-family: "Source Sans Pro";
}

html {
  scroll-behavior: smooth;
}

.btn {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 10%;
  text-align: center;
  vertical-align: middle;
  padding: 5px 15px;
}

.primary-btn {
  background-color: #F4EFEB;
  transition: all .5s ease-in;
  position: relative;
  overflow: hidden;
  box-shadow: #577C8E40 2px 2px 4px 0px;
  cursor: pointer;
}

.primary-btn a {
  z-index: 1;
  position: relative;
  color: #fff;
  transition: color .75s ease-in-out;
}


.primary-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #577C8E;
  transform: translateX(0);
  transition: transform .75s ease-in-out;
  top: 0;
  left: 0;
  cursor: pointer;
}

.primary-btn:hover a {
  transition: color .75s ease-in-out;
  color: #577C8E;
}

.primary-btn:hover span {
  transition: color .75s ease-in-out;
  color: #577C8E;
}

.primary-btn:hover::before {
  transform: translateX(-101%);
  transition: transform .75s ease-in-out;
}

.main-width {
  max-width: 1135px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

#header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease;
  z-index: 20;
  display: flex;
  background: #fff;

}

.scrolled {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header.hide {
  transform: translateY(-100%);
}

nav {
  display: flex;
  gap: 60px;
}

nav a {
  position: relative;
  cursor: pointer;
}

nav a:after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 1px;
  transform-origin: left;
  transition: transform .5s ease-in;
  transform: scaleX(0);
  cursor: pointer;
}

nav a:hover::after {
  transition: transform .5s ease-in;
  transform: scaleX(1);
}

#heroShot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100dvh - 110px);
}

.hero-left {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.hero-left p {
  font-weight: 300;
}

.CTA-btns {
  display: flex;
  margin-top: 45px;
  gap: 45px;
}

.hero-left span {
  font-weight: 300;
  font-size: 24px;
}

h1 {
  font-family: "PlayfairDisplay" !important;
  font-weight: 400;
  font-size: 36px;

}

h2 {
  font-family: "PlayfairDisplay" !important;
  font-weight: 400;
  font-size: 28px;
}

h3 {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
}

.subtitle-iq {
  font-family: "PlayfairDisplay" !important;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.skills {
  max-width: 1220px;
}

.skills-banner {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  margin: 30px 0 50px;
}

.skills-banner::before {
  content: "";
  width: 50px;
  height: 100%;
  position: absolute;
  mask-image: linear-gradient(to left, black 80%, transparent 100%);
  right: 0;
  top: 0;
  z-index: 12;
  background: white;
}

.skills-banner::after {
  content: "";
  width: 50px;
  height: 100%;
  position: absolute;
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
  left: 0;
  top: 0;
  z-index: 12;
  background: white;
}

.banner-track {
  display: flex;
  animation: scroll 25s linear infinite;
  gap: 15px;
  padding: 5px 15px;
  margin: 20px;
}

.banner-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

.banner-item span {
  font-size: 24px;
  white-space: nowrap;
  font-weight: 300;
  color: #000000;
  text-align: center;
}

.banner-item {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: #F4EFEB;
  border-radius: 5px;
  padding: 7px 15px;
}

#approach {
  margin-top: 60px !important;
}

.approach-list {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.approach-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #C7D9E54D;
  align-items: flex-start;
  padding: 20px;
}

.approach-item p {
  font-size: 18px;
  color: #000;
  font-weight: 300;
  flex-grow: 1;
  min-height: 50%;
}

.approach-item a {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  width: fit-content;
  position: relative;
}

.approach-item a:after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 1px;
  transform-origin: left;
  transition: transform .5s ease-in;
  transform: scaleX(0);
  cursor: pointer;
}

.approach-item a:hover::after {
  transition: transform .5s ease-in;
  transform: scaleX(1);
}

#selected-works {
  background-image: url(images/blue-deco.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 60px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin-top: 60px;
}

.projects-grid .project-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: left;
}

.img-container {
  position: relative;
  cursor: pointer;
}

.img-container img {
  width: 100%;
  height: auto;
}

.main-img {
  z-index: 1;
}

.hover-img {
  position: absolute;
  z-index: 2;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity .5s ease-in;
}

.img-container:hover .hover-img {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.projects-grid .project-item p {
  font-weight: 300;
  font-size: 20px;
  color: #000;
  flex-grow: 1;
}

.projects-grid .project-item a {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  position: relative;
  width: fit-content;
}

.project-item a:after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 1px;
  transform-origin: left;
  transition: transform .5s ease-in;
  transform: scaleX(0);
  cursor: pointer;
}

.project-item a:hover::after {
  transition: transform .5s ease-in;
  transform: scaleX(1);
}

#work-together {
  background-color: #C7D9E54D;
  padding: 60px 0;
  margin: 60px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-align: center;
}

#work-together p {
  font-weight: 300;
  font-size: 24px;
}

.footer-inner-container {
  display: flex;
  justify-content: space-between;
}

.footer-socials {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-right a {
  font-size: 18px;
  position: relative;
  width: fit-content;
  font-weight: 300;
}

.footer-right a:after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 1px;
  transform-origin: left;
  transition: transform .5s ease-in;
  transform: scaleX(0);
  cursor: pointer;
}

.footer-right a:hover::after {
  transition: transform .5s ease-in;
  transform: scaleX(1);
}


.footer-bottom {
  padding: 30px 0;
  border-top: .5px solid #000;
  margin-top: 30px;
}

.footer-bottom p {
  font-size: 14px;
  font-weight: 300;
}


/* Projects HTML */

.hero-shot p {
  margin-top: 30px;
  font-weight: 300;
  font-family: "Source Sans Pro";
  max-width: 60%;
}

.primary-btn span {
  z-index: 1;
  position: relative;
  color: #fff;
  transition: color .75s ease-in-out;
}

#projects {
  background-image: url(images/blue-deco.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.projects-container .project-item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.projects-grid .project-item a {
  position: relative;
}



.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
  font-size: 20px;
}

.project-info h2 {
  font-size: 24px;
  font-family: "Source Sans Pro";
}

.project-tags {
  font-weight: 300;
}

.project-img,
.project-info {
  max-width: calc(50% - 15px);
}

.project-img img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #C7D9E5;
  opacity: 0;
  z-index: 22;
  display: none;
}

.js-overlay {
  display: block;
  opacity: 30%;
}

.no-scroll {
  overflow-y: hidden;
}

/* About */
.about-services-container {
  display: flex;
  gap: 30px;
  margin: 30px 0 50px;
}

.about-services-item {
  display: flex;
  flex-direction: column;
  background-color: #C7D9E54D;
  width: calc((100% - 60px) / 3);
  padding: 20px;
  gap: 20px;
}

.about-services-item span {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
}

.about-services-item p {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 18px;
}

.tools-container {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  gap: 30px;
  margin: 30px auto 50px;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0 50px;
}

.education-item span {
  color: #577C8E;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
}

.education-item p {
  color: #000000;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
}

.selected-works {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.info-selected-works {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.info-selected-works p {
  flex-grow: 1;
  font-size: 20px;
  font-weight: 300;
}

.hero-contact {
  display: flex;
  gap: 30px;
}

.hero-contact a {
  display: flex;
  gap: 5px;
  align-items: center;
  transition: all .5s ease;
  position: relative;
  cursor: pointer;
}

/* .hero-contact a:hover img {
  width: 25px;
  height: 25px;
  transition: all .5s ease;
} */
.hero-contact a:hover img {
  transform: translate(3px, -3px);
  transition: all .5s ease;
}


/* Popups */

.project-popup {
  position: fixed;
  max-width: 1135px;
  overflow: auto;
  margin: auto;
  background-color: #fff;
  top: calc((100% - 80dvh) / 2);
  z-index: 23;
  width: 100%;
  height: 0;
  max-height: 0;
  transition: max-height .5s ease-in-out;
}

.active {
  transition: max-height .5s ease-in-out;
  max-height: 80dvh;
  height: 100%;
}

.popup-top {
  background-color: #C7D9E54D;
  position: relative;
  min-height: 50dvh;
  padding: 0 10%;
}

.popup-bottom {
  padding: 10%;
}


.popup-left,
.popup-right {
  width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin: 50px 0;
}
.popup-left img, .popup-right img{
  max-width: 100%;
}
.popup-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.popup-top {
  position: relative;
}

.close-popup {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.project-popup p {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 18px;
}

.popup-icons {
  display: flex;
  gap: 30px;
}

.popup-icons-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.popup-icons-item .icon {
  background-color: #C7D9E5;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-icons-item p {
  font-size: 18px;
}

.popup-font-container {
  background-color: #C7D9E54D;
  border-radius: 5px;
  padding: 30px;
}

.font-weights {
  display: flex;
  gap: 15px;
}

.font-weights-item {
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #fff;
}

.popup-color-palette {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.pallete-item {
  width: calc((100% - 170px) / 5);
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  color: #fff;
  padding: 5px;
}

.popup-inner {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #C7D9E54D;
  border-radius: 5px;
  padding: 30px 0;
  width: 100%;
}

.btns-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.theInerCircle-main-btn {
  text-transform: uppercase;
  background-color: #C47624;
  color: #fff;
  border-radius: 30px;
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(220, 187, 172), inset -2px 2px 17px rgba(220, 187, 172, 0.4);
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .5s ease-in-out;
}

.theInerCircle-main-btn:hover {
  border-color: #C47624;
  background-color: #BCCACD;
  color: #C47624;
  transition: all .5s ease-in-out;
}

.theInerCircle-soft-btn {
  background-color: #BCCACD;
  color: #FFFFFF;
  border-radius: 30px;
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgb(45, 62, 82, .4);
  cursor: pointer;
  transition: background-color .5s ease-in-out;
}

.theInerCircle-soft-btn:hover {
  background-color: #2D3E52;
  transition: background-color .5s ease-in-out;
}

.projects-hero {
  width: 100%;
}

.iqRedesign-main-btn,
.iqRedesign-soft-btn,
.iqRedesign-view-btn {
  width: 164px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iqRedesign-main-btn {
  background-color: #62A1A4;
  box-shadow: 2px 2px 4px 0px #62A1A499;
  border: 1px solid transparent;
  color: white;
}

.iqRedesign-main-btn:hover {
  background: #FFFFFF;
  border-color: #089D93;
  box-shadow: 2px 2px 4px 0px #62A1A499;
  color: #089D93;
  transition: all .5s ease-in-out;
}

.iqRedesign-soft-btn {
  background: #FFFFFF;
  border: 1px solid #089D93;
  box-shadow: 2px 2px 4px 0px #73737399;
  color: #089D93;
}

.iqRedesign-soft-btn:hover {
  background: #62A1A4;
  box-shadow: 2px 2px 4px 0px #73737399;
  color: #fff;
  transition: all .5s ease-in-out;
}

.iqRedesign-view-btn {
  background: #FFFFFF;
  box-shadow: 2px 2px 4px 0px #73737399;
  border: 1px solid transparent;
  color: #089D93;
}

.iqRedesign-view-btn:hover {
  background: #62A1A4;
  border-color: #fff;
  box-shadow: 2px 2px 4px -1px #C3BCBC99;
  color: #fff;
  transition: all .5s ease-in-out;
}

.popup-mockups-sii {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.popup-mockups-sii img {
  width: calc((100% / 3) - 60px);
}